@font-face {
  font-family: "Avenir";
  src: url("Avenir-Next-LT-W02-Demi.woff2") format("woff2"),
    url("Avenir-Next-LT-W02-Demi.woff") format("woff"),
    url("Avenir-Next-LT-W02-Demi.ttf") format("ttf"),
    url("Avenir-Next-LT-W02-Demi.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("Avenir-Next-LT-W02-Regular.woff2") format("woff2"),
  url("Avenir-Next-LT-W02-Regular.woff") format("woff"),
  url("Avenir-Next-LT-W02-Regular.ttf") format("ttf"),
  url("Avenir-Next-LT-W02-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

body {
  font-family: "Avenir", sans-serif;
}
button{
  outline: none;
}
.top {
  background: url(bg.jpg) center;
  background-size: 100% 100%;
  display: flex;
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
  justify-content: space-between;
  overflow: hidden;
}
.right,.left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 25px;
}
.left{
  font-size: 4vw;
  width: 52%;
}
.right {
  width: 49%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: 0;
}
.btn{
  width: 69%;
  background: 0;
  border: 0;
}
.btn__media{
  width: 100%;
}
.left {
  background: 0;
  position: relative;
}
.logo{
  width: 90%;
  margin-bottom: -5px;
}
.logo__media{
  width: 100%;
  max-width: 234px;
}